body {
  background-image: url(../img/beach.jpg);
}

h4{
  color: red;
  font-family: fantasy;
}

ul{
  font-size: 15pt;
}

.jumbotron{
  opacity: 0.5;
  margin: 15px;
}

.well{
  opacity: 0.5;
  margin: 15px;
}

.panel{
  opacity: 0.5;
  margin: 15px;
}


.column{
  margin-left: 10pt;
  width: 45%;

}

.header{
  background-color: #f9f4e5;
  text-align:center;
  width: 90%;
  border-width: 100%;
  margin: 15px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

}
.margin{
  margin-left: 20px;

}


.text-for-columns{
  width: 30%;
  float: left;
  margin-left: 15px;
  margin-right: 10px;
}
.parasailing{
  background-color:white;
  opacity: .5;
  border:auto;
  border-style:dashed;
  border-color: teal;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

}
